.hen
{
  width:500px;
  height: 750px;
  top: -10px;
  position: fixed;
}
.hen1{
    color: black;
    margin-left: 550px;
  }
.hen2{
    color: black;
    margin-left: 550px;
    margin-right: 50px;
  }
  .hen3{
    color: black;
    margin-left: 550px;
  }
  .hen4{
    color: black;
    margin-left: 550px;
  }
  .hen5{
    color: black;
    position: absolute;
    margin-left: 580px;
    margin-bottom: -17px;
    bottom: 333px;
    left:70px;
  }
  .hen6{
    color: black;
    margin-left: 550px;
  
  }
  .hen7{
    color: black;
    margin-left: 650px;
    margin-bottom: 369px;
    bottom: -95px;
    position: absolute;
  }
  .hen8{
    color: black;
    margin-left: 550px;
  }
  .hen9{
    color: black;
    margin-left: 650px;
    margin-bottom: 690px;
    top: 479px;
    bottom: -135px;
    position: absolute;
  }
  .hen10{
    margin-left: 550px;
  }
  .hen11{
    color: blue;
    margin-left: 550px;
  }